.siteHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 0 24px;
  height: 80px;
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
}

.logo {
  flex: 50%;
  min-width: 124px;
}

.logo a,
.cart a {
  width: fit-content;
  display: inline-block;
}

.cart {
  flex: 20%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 500px) {
  .siteHeader {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    gap: 0;
  }

  .logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}
