.deleteButton {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: start;
  align-self: center;
  background-color: transparent;
  border: 3px solid transparent;
  cursor: pointer;
  padding: 8px 16px;
  font-weight: bold;
  color: #d93025;
  outline: 1px solid #d93025;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 30px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.deleteButton:hover {
  background-color: #d93025;
  color: #fff;
}

.deleteButton:focus-visible {
  border: 2px solid #d93025 !important;
}
