.addedToCart {
  color: #16bd1e;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.25rem;
  animation: fade 1.5s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
