.container {
  background-image: url('../../assets/images/home-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.textContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-right: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 20px;
  border: 2px solid #fff;
  box-shadow: 0 0 10px #fff;
  backdrop-filter: blur(7px);
}

.heading {
  width: 450px;
  text-align: left;
  font-size: 40px;
  color: #fff;
}

.text {
  text-align: left;
  width: 450px;
  color: #fff;
  font-size: 20px;
}

@media (max-width: 1024px) {
  .container {
    justify-content: center;
  }

  .textContainer {
    max-width: 500px;
    width: 100%;
    padding: 40px;
    margin-right: 0;
    border: none;
    box-shadow: none;
  }

  .heading {
    width: 100%;
    font-size: 40px;
    text-align: left;
  }

  .text {
    width: 100%;
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .container {
    background-position: left;
  }

  .textContainer {
    padding: 20px;
    max-width: 80%;
  }

  .heading {
    font-size: 2rem;
  }

  .text {
    font-size: 1rem;
  }
}
