.shopNowBtn {
  background-color: #1976d2;
  color: #fff;
  padding: 10px 40px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
  transition:
    background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.shopNowBtn:hover {
  background-color: #1565c0;
  transform: scale(1.05);
}

@media (max-width: 500px) {
  .shopNowBtn {
    font-size: 1rem;
    padding: 10px 20px;
  }
}
