.iconContainer {
  font-size: 18px;
  position: relative;
  transition: all 0.3s ease;
}

.iconContainer:hover {
  transform: scale(1.1);
}

.cartLengthLabel {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -70%);
  transform-origin: 100% 0;
  background-color: rgb(25, 118, 210);
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 0 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
